.App {
  text-align: center;
  font-family:   Georgia, 'Times New Roman', Times, serif;
  background-color: #212529;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav{
  line-height: 10rem;
}
nav .food{
  margin-left: 10%;
  font-size: 50px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
nav .p{
  color: gray;
  font-size: 22px;
  
}

.content{
  width: 100%;
  height: 100vh;
  transition: all 0.3s ease;
  margin-bottom: 3%;
}
.text-content{
  position: absolute;
  top:60%;
  left:50%;
  padding:5px 15px;
  transform: translate(-50%, -50%);
  background: rgb(60, 57, 57);
  color: gray;
  border-radius: 20px;
  font-size: 50px;
  margin-bottom: 3%;
}

.text-home{
  text-align: center;
}
.text-home h1{
  font-size: 50px;
  color: antiquewhite;
}
.explr-btn{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-weight: 700;
 
}
.explr-btn:hover{
  transition: all 0.5s ease;
  background: rgb(190, 243, 234);
  color: #212529;
  box-shadow: 0px 0px 40px white;
  font-weight: 700;
}
.part-three{
  padding-top: 5%;
  margin-bottom: 3%;
}
.text{
  color: gray;
  margin-right: 5%;
}
.text h1{
  font-size: 50px;
  margin: 2%;
}
.text p{
font-size: 30px;
}
.color{
  color: gray;
  text-align: center;
  padding-top:5%;
}
footer hr{
  color: gray;
}
footer h6{
  font-size: 14px;
  color: gray;
}
.last-portion{
  text-align: center;
}
footer a{
  transition: all 0.3s ease;
}
footer a,footer p{
  text-decoration: none;
  color: gray;
  text-align: left;

}
footer a:hover,footer i:hover{
  color: white;
 
}
footer h5{
color: white;
text-align: left;
font-weight: 700;

}
footer i{
  color: gray;
  padding: 4%;
  transition: all 0.3s ease;
  
}
footer{
    background-color: black;
    padding: 5%;
  
   
}
.contact-btn{
  background-color: rgb(190, 13, 104);
  color: white;
 border: 1px solid black;
 border-radius: 40px;
margin-top: 7%;
transition: all 0.3s ease;
}
.contact-btn:hover{
  background-color: white;
  color: black;
  /* transition: all 0.3s ease; */
}
.menu h3{
  color:white;
 
}
.ParaImage{
  width: 100%;
  height: 400px;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 40% 0px;
}
.bg1{
  background-image: url('./vendor/image/banner1.webp');
}
.bg2{
  background-image: url('./vendor/image/banner2.jpeg');
}
.ParaContent{
background-color: gray;
opacity: 0.9;
padding: 50px ;
}
.ParaVideo{
  height: 300px;
  padding: 50px ;
}
.ParaVideo video{
  min-height: 100%;
  position: fixed;
  top: 0px;
  z-index: -999;
}

.menu .ParaVideo h3{
  color: rgb(87, 91, 94);
}
.menu form{
  background-color: gray;
  opacity: 0.7;
  padding: 2%;
}
.menu form label{
  color: black;
  font-weight: 700;
}
.ParaImage h2{
  color:white;
  font-weight: 700;
}
.text{
  margin: 5%;
  color:white;
}
.text-2{
  color: gray;
  /* font-size:20px; */
  font-size: 25px;
}

@media (max-width: 768px)  {
  .menu form{
    background-color: gray;
    margin: 0%;
    font-size: small;
    padding: 0%;
    display: flex;
    }
    .menu video{
      width: 150%;
      margin: 5%;
    }
    .text-home h1,.text-home p{
      font-size: 15px;
    }
}

@media (min-width : 769px){
  .menu form{
    background-color: gray;
    /* color:white; */
    margin: 10px;
    font-size: medium;
    /* padding: 1%; */
   
    }
    .menu video{
      width: 80%;
      margin: 3%;
    }
    .text-home h1,.text-home p{
      font-size: 25px;
      margin: 10%;
    }
}

.heading{
  font-size: 40px;
  margin-left: 5%;
  
}