body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  margin:0;
  font-size: 40px;
}
footer p{
  font-size: 20px;
}
.menu h1,.menu h2,.menu h3{
  font-family: orbitron;
  color:white;
  font-weight: 700;
}
.menu p{
  color: rgb(180, 185, 190);
  font-size: 40px;
}
